@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --section-py-sm: 2.5rem;
  --section-py-md: 3rem;
  --section-py-lg: 5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), var(--font-quicksand), sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

.hide-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
  background: transparent !important;
}
